# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock
*.g.dart
*.freezed.dart

# Android
android/app/google-services.json
android/app/release/
android/key.properties
android/local.properties
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*
ios/ServiceDefinitions.json

# Web
web/favicon.png
web/icons/

# macOS
macos/Pods/

# Environment
.env
!.env.example

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
